.container{
  display: block;
  margin: 2% 2%;
  max-width: 90%;
  max-height: 200vh;
  color: black;
  box-sizing:border-box;
}

.row{
  display: flex;
  flex-direction: row;
  gap: 5%;
  margin-right: 2%;
  margin-left: 2%;
}

.col_sm{
  width: max-content;
  margin: 6% 2.5%;
  padding: 0px !important;
}

.perf{
  margin-top: -5%;
  font-size: 1.4rem;
}
.pricetag{
  font-family: "Nanum Myeongjo", serif;
  font-style: normal;
  margin-left: 5%;
}

.addtext{
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 10% 30%;
  box-shadow: 10px 10px 50px rgb(199, 199, 199);
  border-radius: 7px;
  padding: 20px;
  box-sizing: border-box;
}

.price{
  font-size: 2.5vw;
  margin-top: 5%;
  margin-bottom: 0;
}

.tax{
  margin-top: 2%;
}

.line{
  color: darkgray;
  margin-top: 5%;
  width: 80%;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card a, .card a:hover {
  color: black;
  margin-bottom: 1%;
  margin-left: 5%;
  font-size: 1.5vw; 
}
.card a:active{
  color: darkgray;
}

.order{
  font-size: 1rem;
  color: white;
  padding: .55rem .5rem;
  width: 40%;
  margin-left: 15%;
  margin-top: 4%;
  margin-bottom: 5%;
  margin-right: 0%;
  border: 1px solid black;
  border-radius: .25rem;
  cursor: pointer;
  background-color: #343a30;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.tdrive{
  font-size: 1rem;
  color: white;
  padding: .55rem .5rem;
  width: 80%;
  border: 1px solid black;
  border-radius: .25rem;
  cursor: pointer;
  margin-left: 10%;
  margin-bottom: 5%;
  background-color: #343a30;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.tdrive i{
  margin-left: .3rem;
}
.tdrive:hover, .order:hover{
  background-color:rgb(251, 249, 245);
  color: black;
}
.carModel{
  display:flex;
  flex-direction: column;
  align-items:flex-start;
  color: black;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2vw;
  margin-bottom: 10%;
}
.carModel h2{
  display: block;
  width: max-content;
  margin-top: -8%;
  margin-left: -3%;
}

.imageSlider{
  display: flex;
  align-items: center;
  margin-left: -5%;
  margin-top: -4%;
  width : 35vw;
  height: 20vw;
}

img{
  height:100%;
  width: 110%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.buttonLeft, .buttonRight {
  margin: 2%;
  background-color: darkgray;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  border-color: black;
}

.additionalDetails {
 display: flex;
 width: 95%;
 flex-direction: column;
 align-content: center;
 margin: 10% 17%;
 padding: 2%;
 box-sizing: border-box;
}

.descHeading {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
  font-style:normal;
  font-size: 2vw; 
  margin-top: 0%;
  margin-bottom: 0px;
}

.descPara {
  margin-left: 1rem;
  line-height: 1.5;
  color: #343a30;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.3vw;
  margin-top: 20px;
}
.endline{
  color: darkgray;
  width: 80%;
  margin-top: 3%;
  margin-bottom: 5%;
}

.feat {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-left: 9%;
  margin-top: 8%;
}
.midbox{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.box1, .box2, .box3 {
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  height: 4rem;
  width: 8rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0% ;
  padding: 8%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
}

.box1::after, .box2::after {
  width: 2px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 0;
  top: 0;
}

.box1 a, .box2 a, .box3 a {
  font-size: 1.6vw;
  color: rgb(132, 131, 131);
}
.box1 a:hover, .box2 a:hover, .box3 a:hover{
  color: black;
}

.num {
  font-size: 1.8vw;
  font-weight: bold;
  margin-top: 10%;
  margin-bottom: 5%;
  margin-left: 2%;
}

.text {
  font-size: 1.5vw;
  margin-left: 7%;
  margin-right: 15%;
  margin-top: 0%;
  margin-bottom: 2%;
}
.text2{
  width: max-content;
  font-family: "Nanum Myeongjo", serif;
  font-style: normal;
  font-size: large;
  margin-top: 1.5%;
  margin-bottom: 0%;
  margin-left: 10%;
  margin-right: 10%;
}

.keyfeat{
  margin-top: 9%;
  margin-left: 20%;
}

.keyhead{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
  font-style:normal;
  font-size: 2vw;
  margin-bottom: 4%; 
}

.feats{
  margin-left: 5%;
}

.icontxt{
  display: flex;
  align-items: center;
  margin-bottom: -4%;
}
.icontxt p{
  margin-left: 5%;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 600;
  font-style:normal;
  font-size: 1.4vw;
}
.icontxt a, .icontxt a:hover{
  font-size: 1.5vw;
  color: rgb(84, 84, 84);
}
