.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url(../components/Assets/carbg.png);
  background-size: cover;
  background-position: center top -50px;
  background-repeat: no-repeat;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(119, 116, 116, 0.5);
  backdrop-filter: blur(10px); 
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(119, 116, 116, 0.5);
  max-width: 400px;
  width: 100%;
}

.h2 {
  font-size: 1.5rem;
  color: rgb(229, 227, 227);
  margin-bottom: 20px;
}
.req{
  color:  rgb(141, 7, 7);
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.email {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.button {
  width: 100%;
  padding: 12px;
  background-color: #073a71;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.success {
  color: #155724; /* Dark green color for better readability */
  background-color: #d4edda; /* Light green background for contrast */
  border: 1px solid #c3e6cb; /* Matching border color */
  padding: 10px; /* Add padding for spacing */
  border-radius: 5px; /* Rounded corners */
  margin-top: 20px;
  font-size: 1rem;
  width: 100%; /* Make the message take the full width of the form */
  text-align: center; /* Center the text */
}

.error {
  color: #721c24; /* Dark red color for better readability */
  background-color: #f8d7da; /* Light red background for contrast */
  border: 1px solid #f5c6cb; /* Matching border color */
  padding: 10px; /* Add padding for spacing */
  border-radius: 5px; /* Rounded corners */
  margin-top: 20px;
  font-size: 1rem;
  width: 100%; /* Make the message take the full width of the form */
  text-align: center; /* Center the text */
}

