.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url(../components/Assets/carbg.png);
  background-size: cover;
  background-position: center top -50px;
  background-repeat: no-repeat;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(119, 116, 116, 0.5);
  backdrop-filter: blur(10px); 
  padding: 40px ;
  padding-bottom: 60px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(119, 116, 116, 0.5);
  max-width: 400px;
  width: 100%;
}

.h2 {
  font-size: 1.5rem;
  color: rgb(229, 227, 227);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 50px;
}
.req{
  color: rgb(165, 160, 160);
  font-size: 15px;
  
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.email {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.button {
  width: 100%;
  padding: 12px;
  background-color: #0a7af1;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.error , .success  {
  margin-top: 30px;
  font-size: 14px;
  padding: 8px 10px;
  border-radius: 5px;
  text-align: center;
  width: 100%;
}

.error  {
  color: rgb(235, 207, 207);
  background-color: rgba(255, 0, 0, 0.1);
}

.success  {
  color: rgb(208, 241, 208);
  background-color: rgba(0, 255, 0, 0.1);
}

