h3{
    color: #212529;
    font-size: 2rem;
    position: absolute;
    transform: translateY(-140%);
}

.table td, .table th{
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid rgb(222,226,230);
    
}

*, ::after, ::before {
    box-sizing : border-box;
}

.table {
    margin-bottom: 1rem;
    color : #212529; 
}

table {
    border-collapse: collapse;
    width: 120%;
}

.tableStriped tbody tr:nth-child(odd) {
    background-color: rgb(232, 232, 232);
  }
  
.tableStriped tbody tr:nth-child(even) {
    background-color: white;
  }

body{
    margin : 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align : left;
    background-color: #fff;
}

.image{
    height: 3.5rem; 
}

.btns{
    margin: 10px;
    padding-left: 5rem;
    padding-bottom: 3.5rem;
}

.btn_dark{
    color: #fff;
    border-color: #343a30;
    background-color: #343a40;
    cursor: pointer;
    font-size: 1rem;
    border-radius: .25rem;
    padding: .5rem .5rem;
    margin-right: 1.5rem;
}

.buttons a{
    color: #fff;
    text-decoration: none;
}

.btn_dark a:hover {
    color: rgb(173, 173, 173);
    cursor: pointer;
}

.record_list{
    margin: 2.5%;
    overflow-x: auto;
}

.btn{
    background-color: transparent;
    border-color: black;
    display: flex;
    color: black;
    align-items: center;
    cursor: pointer;
    font-size: 1rem;
    border-radius: .25rem;
    padding: .5rem .5rem;  
}

.btn i{
    font-size: 110%;
    color: inherit;
    margin-right: 5px;
}

.btn:hover{
    border-color: red;
    color: red;
}
 